* {
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: DroidSansMNerdFont-Regular, Helvetica, Arial, sans-serif; */
    font-size: 11px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: transparent;
}

window#waybar.solo {
    background-color: #FFFFFF;
}


button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}


#workspaces button {
    padding: 0 5px;
    background-color: rgba(120, 179, 131, 0.677);
    color: #ffffff;
}

#workspaces button:hover {
    background-color: rgba(59, 249, 97, 0.301);
}

#workspaces button.focused,
#workspaces button.active {
    background-color: rgba(25, 146, 75, 0.62);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#window {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border-width: 2px;
    padding: 5px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpris,
#custom-power {
    padding: 0 5px;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    border-width: 0;
    background-color: rgba(138, 207, 221, 0.75);
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#clock {
    background-color: rgba(164, 52, 52, 0.536);
}

#mpris.paused,
#bluetooth.disabled,
#pulseaudio.muted {
    opacity: 0.5;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

/*
label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

*/

#custom-power {
    background-color: rgba(0, 0, 0, 0.5);
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: rgba(138, 207, 221, 0.75);
}


#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

/* #tray {
    background-color: #2980b9;
} */

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    /* background-color: #eb4d4b; */
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}